<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
</head>

<body>
    <button type="button" id="button">Making Asynchronous Request to the Webserver</button>
    <script>
        var button = document.getElementById("button");
        button.onclick = makeAsynchronousRequestToWebserver;
        function makeAsynchronousRequestToWebserver() {
            var request = new XMLHttpRequest();

            request.onreadystatechange = function () {
                if (request.readyState == 4) {
                    console.log("The readyState at this point is " + request.readyState);
                    updatedDOM(request);
                }
            }


            request.open("GET", "http://localhost:8080/ADModule_Servlet_RestXML/XmlServlet");
            console.log("The readyState after open() is " + request.readyState);

            request.send(null);
            console.log("The readyState after send() is = " + request.readyState);
        }
        function updatedDOM(request) {
            var xmlDoc = request.responseXML;
            var ol = document.createElement("ol");
            var employees = xmlDoc.getElementsByTagName("Employee");
            console.log(employees);
            for (var i = 0; i < employees.length; i++) {
                var li = document.createElement("li");
                var employee = employees[i].children;
                for (var j = 0; j < employee.length; j++) {
                    var div = document.createElement("div");
                    div.textContent = employee[j].tagName + " : " + employee[j].textContent;
                    li.appendChild(div);
                }
                ol.appendChild(li);
            }
			document.body.appendChild(ol);
        }
    </script>
</body>

</html>